<div class="card">
    <h2>
        <i class="fab fa-leanpub"></i>
        {{question.label}}
    </h2>

    <div class="images">
      <div class="image" *ngFor="let image of question.imageUrls;">
        <img src="{{image}}">
      </div>
    </div>

    <div class="answers">
      <div class="answer" *ngFor="let answer of question.answers; let i=index">
          {{i}} - {{answer.value}} <ng-container *ngIf="answer.isCorrect"><i class="far fa-check-square"></i></ng-container> <br>
      </div>
    </div>
    <button class="button-card" (click)="delete()">Supprimer</button>
</div>
