<div class="card">
  <h2>Create a new question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Title <br>
      <input class="input-custom" type="text" id="label" [formControlName]="'label'">
    </label>
    <br>
    <button class="button-card" (click)="addAnswer()">Add Answer</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Answer
            <input type="text" [formControlName]="'value'">
            <br>
            Correct
            <input type="checkbox" [formControlName]="'isCorrect'">
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addQuestion()">Create</button>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->