<div class="card">
  <h2>Créer un nouvel utilisateur</h2>
  <form class="user-form" [formGroup]="userForm">
    <mat-form-field>
      <mat-label for="firstName">Prénom</mat-label>
      <input matInput [formControlName]="'firstName'">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label for="firstName">Nom de famille</mat-label>
      <input matInput [formControlName]="'lastName'">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Stade</mat-label>
      <mat-select [formControlName]="'stade'">
        <mat-option type="number" value="4" >4</mat-option>
        <mat-option type="number" value="5" >5</mat-option>
        <mat-option type="number" value="6" >6</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit" (click)="addUser()">Créer</button>
  </form>
</div>
