<div class="card">
  <h2>Créer un nouvel utilisateur</h2>
  <form class="user-form" [formGroup]="userForm">
    <label for="firstName">
      Prénom<br>
      <input class="input-custom" type="text" id="firstName" [formControlName]="'firstName'">
    </label>
    <br>
    <label for="lastName">
      Nom de famille<br>
      <input class="input-custom" type="text" id="lastName" [formControlName]="'lastName'">
    </label>
    <br>
    <label for="stade">
      Stade<br>
      <input class="input-custom" type="number" id="stade" [formControlName]="'stade'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addUser()">Créer</button>
  </form>
</div>
