@import './variables.scss';

.add-question {
  background-color: $blue;
  border: none;
  color: $white;
  padding: 24px 32px;
  font-size: 32px;
  cursor: pointer;
}

.add-question:hover {
  background-color: $darkblue;
}

.add-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add-image + label{
  background-color: $blue;
  border: none;
  color: $white;
  padding: 24px 32px;
  font-size: 32px;
  cursor: pointer;
}

.add-image:hover + label {
  background-color: $blue;
}

.main-button {
  font-size: 1.5rem;
  color: $darkblue;
  border: $darkblue solid 3px;
}

.main-button:hover {
  background-color: $darkblue;
}

.button{
  display: inline-flex;
  justify-content: center;
  margin: 0.1em;
  border-radius: 100px;
  font-family: "Inria Sans", sans-serif;
  cursor: pointer;
  background-color: $white;
  padding: 0.5em 1.5em;
  transition: all 0.4s;
}

.button:hover {
  border: $white solid 3px;
  color: $white;
  box-shadow: black .5px 0 10px;
}

.yellow-button{
  font-size: 1.4rem;
 background-color:$lightorange;
 box-shadow: 0 5px $orange;
}

.yellow-button:hover{
 background-color:$lightorange;
 box-shadow: 0 5px $orange;
}

.yellow-button:disabled{
  background-color:$orange;
  box-shadow: 0 5px $orange;
}

.button-green{
  background-color: $green;
  box-shadow: 0 5px $darkgreen;
}

.button-green:disabled{
  background-color: $green;
  box-shadow: 0 5px $darkgreen;
}

.button-green:hover{
  background-color: $green;
  box-shadow: 0 5px $darkgreen;
}

.button-red{
  background-color: $lighbrown;
  box-shadow: 0 5px $brown;
}

.button-red:disabled{
  background-color: $lighbrown;
  box-shadow: 0 5px $brown;

}

.button-red:hover{
  background-color: $lighbrown;
  box-shadow: 0 5px $brown;
}

/*Play quiz page*/
.button-quiz-answer{
  min-width: 9rem;
  margin: 0 1rem;
}

.grid-button-answers{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 3.5rem;
  align-items: center;
  justify-items: center;
}
