@import "./variables";

.quiz-question-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.quiz-question-label{
  color:$blue;
  margin-top: 1rem;
  margin-bottom: 0;
}

.end-of-quiz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.end-of-quiz>h1{
  color: $blue;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1rem;
}
.end-of-quiz>p{
  color: $blue;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
}


