@use "@angular/material/theming" as mat;

$my-primary: mat.$mat-indigo;
$my-accent: mat.$mat-pink;

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.$mat-purple;

$app-background-color: #f2f2f2;
$blue: #2f2fa2;
$darkblue: #0e1b79;
$white: white;
$lightwhite: #f4f3f1;
$brown:#553d57;
$lighbrown:#997387;
$orange: #ff914d;
$lightorange: #eeaa44;
$green: #16a637;
$darkgreen: #33443c;

$text-size: 1.2;
