$app-background-color: #f2f2f2;
$blue: #2f2fa2;
$darkblue: #0e1b79;
$white: white;
$lightwhite: #f4f3f1;
$brown:#553d57;
$lighbrown:#997387;
$orange: #ff914d;
$lightorange: #ffbd59;
$green: #16a637;
$darkgreen: #33443c;

$text-size: 1.2;
