<div class="card">
  <h1>Connexion</h1>
  <br>
  <mat-form [formGroup]="connexionForm">
    <mat-form-field>
      <mat-label for="login">
        Login <br></mat-label>
        <input matInput type="text" id="login" [formControlName]="'login'">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label for="password">
        Password <br></mat-label>
        <input matInput type="password" id="password" [formControlName]="'password'">
    </mat-form-field>
    <br>
    <div id="error"></div>
    <br>
    <button class="button-card" (click)="connexion()"> Se connecter </button>
  </mat-form>
</div>
