<div class="card card-user" xmlns="http://www.w3.org/1999/html">
  <h2>
    <i class="fas fa-user"></i>
    {{user.firstName}} {{user.lastName}}
  </h2>
  <div *ngIf="user.isAdmin == true;then admin else player"></div>
  <ng-template #admin>
    <h3>Administrateur</h3>
  </ng-template>
  <ng-template #player>
    <h3>Joueur</h3>
  </ng-template>
  <button *ngIf="displayDeleteButton" class="button-card" (click)="delete()">Delete</button>
  <button *ngIf="displaySelectButton" class="button-card" (click)="select()">Sélectionner</button>
  <div *ngIf="displayIsAdminButton">
    <div *ngIf="user.isAdmin == true;then button_admin else button_player"></div>
    <ng-template #button_player>
      <button  class="button-card" (click)="isAdminTrue()">Donner les droits
        d'administrateur
      </button>
    </ng-template>
    <ng-template #button_admin>
      <button class="button-card" (click)="isAdminFalse()">Révoquer les droits
        d'administrateur
      </button>
    </ng-template>
    <br>
    <div class="contenant_error">
      <div class="error_msg" id="error_msg_{{user.id}}"></div>
    </div>
  </div>
</div>
