<button mat-raised-button class="card card-user">
    <h2>
      <i class="fas fa-user"></i>
      {{user.firstName}} {{user.lastName}}
    </h2>
  <div *ngIf="user.isAdmin == true;then admin else player"></div>
  <ng-template #admin>
    <h3>Administrateur</h3>
  </ng-template>
  <ng-template #player>
    <h3>Joueur</h3>
  </ng-template>
  <button mat-raised-button color="accent" *ngIf="displayDeleteButton" class="delete-button"  (click)="delete()">Delete</button>
  <button mat-raised-button color="primary" *ngIf="displaySelectButton"  (click)="select()">Sélectionner</button>
  <div *ngIf="displayIsAdminButton">
    <div *ngIf="user.isAdmin == true;then button_admin else button_player"></div>
    <ng-template #button_player>
      <button mat-raised-button color="primary"  (click)="isAdminTrue()">Donner les droits
        d'administrateur
      </button>
    </ng-template>
    <ng-template #button_admin>
      <button mat-raised-button color="primary"  (click)="isAdminFalse()">Révoquer les droits
        d'administrateur
      </button>
    </ng-template>
  </div>
</button>
