@import '../../../../src/styles/page.scss';
@import '../../../../src/styles/variables.scss';

.header-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-wrap: normal;
  flex-wrap: wrap;
}
