.user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: normal;
    flex-wrap: wrap;
    height: 60vh;
  }

  .img-cross{
    width: 5rem;
    padding: 1rem;

  }
  .button-cross{
    margin: 1rem;
  }