
<div class="categorie-list" >
  <ng-container *ngIf="getNbQuizzes()!=0">
    <div class="categorie" *ngFor="let category of categoryList">
      <app-category class="category-card" *ngIf="getNbQuizzesWithCategory(category)!=0" [category]="category" (categorySelected)="categorySelected($event)"></app-category>
    </div>
  </ng-container>
  <ng-container *ngIf="getNbQuizzes()==0">
    <div *ngIf="user.isAdmin" class="buttons-placement">
      <h1>Ajoutez un quiz pour commencer</h1>
      <button class="navigation" [routerLink]="['/information-quiz-page']">Créer un quiz</button>
    </div>
    <div *ngIf="user.isAdmin == false" class="buttons-placement">
      <h1>Il n'y a pas de quiz a afficher</h1>
    </div>
  </ng-container>
</div>
