
<div class="categorie-list" >
  <div *ngIf="getNbQuizzes()!=0">
    <div class="categorie" *ngFor="let category of categoryList">
      <app-category *ngIf="getNbQuizzesWithCategory(category)!=0" [category]="category" (categorySelected)="categorySelected($event)"></app-category>
    </div>
  </div>
  <div *ngIf="getNbQuizzes()==0">
    <div class="buttons-placement">
      <h1>Ajoutez un quiz pour commencer ;)</h1>
      <button class="navigation" [routerLink]="['/information-quiz-page']">Créer un quiz</button>
    </div>
  </div>
</div>
