<ng-container *ngIf="quiz">
    <!-- {{shuffleArray(quiz.questions)}} -->

    <div *ngIf="!endOfQuiz || quiz.questions.length<0; then quiz_play; else quiz_end"></div>
    <ng-template #quiz_play>
            <div class="card question-card-stade6">
                <div class="quiz-question-layout">
                    <h1 class="quiz-question-label">Qui reconnaissez vous ?</h1>
                    <div class="stade6-layout">
                        <div *ngIf="randomImageToleft ;then leftSide; else rightSide"></div>
                        <ng-template #leftSide>
                            <img id="correctImage"  (click)="onAnswer(true, 'correctImage')" class="image-question-size-stade6" src="{{currentQuestion.images[currentQuestion.currentImage].url}}" [disabled]="disabledImage"/>
                            <img id="incorrectImage"  (click)="onAnswer(false, 'incorrectImage')" class="image-question-size-stade6" src="{{randomImages[currentRandomImage]}}" [disabled]="disabledImage"/>
                        </ng-template>
                        <ng-template #rightSide>
                            <img id="incorrectImage"  (click)="onAnswer(false, 'incorrectImage')" class="image-question-size-stade6" src="{{randomImages[currentRandomImage]}}" [disabled]="disabledImage"/>
                            <img id="correctImage"  (click)="onAnswer(true, 'correctImage')" class="image-question-size-stade6" src="{{currentQuestion.images[currentQuestion.currentImage].url}}" [disabled]="disabledImage"/>
                        </ng-template>
                    </div>
                    <button *ngIf="answerSelected" class="button-quiz yellow-button next-button" (click)="changeQuestion()">Suivant</button>
                </div>
            </div>
    </ng-template>
    <ng-template #quiz_end>
        <div class="end-of-quiz">
            <h1>Fin du quiz</h1>
            <p>Merci d'avoir joué !</p>
            <button class="button-card" [routerLink]="['/play-page']">Retour</button>
            <button class="button-card" (click)="reloadQuiz()">Rejouer</button>
        </div>
    </ng-template>

</ng-container>
