@import '../../../../../styles/quiz.scss';
@import '../../../../../styles/card.scss';
@import '../../../../../styles/buttons.scss';


.image-question-size-stade6{
    max-width: 30vw;
    max-height: 40vh;
    margin: 1rem 1rem;
}

.question-card-stade6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    height: 60vh;
}


.stade6-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-quiz-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    text-decoration: none;
}


.next-button{
    margin-top: 1rem;
}


.image-green{
    border: solid $green;
}

.image-red{
border: solid $lighbrown;
}

  