<h1>À propos ...</h1>
<p>Ce site web a pour vocation à faire passer un moment agréable aux personnes âgées en se remémorant les bons souvenirs
  de sa vie !</p>
<h2>Comment créer un quiz</h2>
<p>Pour créer un quiz, il suffit d'être administrateur et de cliquer sur gérer les quiz puis cliquer sur créer un quiz
  et enfin suivre les
  instructions </p>
<p>Une fois le quiz rempli, celui-ci sera automatiquement adapté au stade de la maladie du joueur.</p>
<h2>Comment jouer</h2>
<p>Pour jouer il suffit de cliquer sur "Jouer" puis de choisir une categorie et de sélectionner un quiz.
  Une fois le quiz sélectionné, il suffit de cliquer sur "Jouer" pour commencer le quiz.</p>
<p>Le quiz est composé de questions et de réponses. Il est possible de répondre à une question en cliquant sur la
  réponse qui correspond à la bonne réponse.</p>
<h2>Comment voir les statistiques</h2>
<p>Il faut aller dans gérer les quiz, puis statistiques, depuis cette page vous verrez une statistique globale qui
  indique quelle personne est cochée correctement avec un pourcentage, puis vous pouvez aussi voir essai par essai
  chaque quiz pour voir quelles images pourraient poser problème </p>
