@import '../../../../src/styles/buttons.scss';
@import '../../../../src/styles/variables.scss';
@import '../../../../src/styles/buttons.scss';

.body-main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.title-main-page{
  margin-top: 2rem;
}

.buttons-placement{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.button-margin{
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.connect-button{
    padding: 1rem 1.5rem;
    margin: 1rem 1rem;
    font-size: 2rem;

}

.brain-img{
    height: 20rem;
    margin-left: 4rem;
    opacity: 12%;
}

mat-card{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 5rem;
}

svg text {
    letter-spacing: 2px;
    font-size: 5rem;
    stroke: $darkblue;
    stroke-width: 3px;
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill: $blue;
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: $blue;
    //   hsla(189, 68%, 75%,0%)
    }
    
  }

 