<div *ngIf="user; then connect; else ask_to_connect"></div>
<ng-template #connect>
  <div class="body-main-page">
    <h1>Quiz Groupe B</h1>
    <div class="buttons-placement">
      <button class="button main-button" [routerLink]="['/play-page']">Jouer</button>
      <button class="button main-button" [routerLink]="['/manage-page']">Gérer les quiz</button>
    </div>
  </div>
</ng-template>
<ng-template #ask_to_connect>
  <div class="connect">
    <button class="button main-button connect-button" [routerLink]="['/login-page']">

      Se connecter
    </button>
  </div>
</ng-template>
