@import '../../../../src/styles/buttons.scss';
@import '../../../../src/styles/variables.scss';


.body-main-page{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.button-placement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.connect{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.connect-button{
    padding: 2rem 3rem;

}
