@import '../../../../src/styles/buttons.scss';
@import '../../../../src/styles/variables.scss';


.body-main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.buttons-placement{
    margin-top: 2rem;
}

.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-button{
    padding: 1rem 1.5rem;
    margin: .5rem;

}

.title-main-page{
    font-size: 3rem;
    font-size: bold;
}

.brain-img{
    height: 20rem;
    margin-left: 4rem;
    opacity: 12%;
}
