<div class="body-page">
  <div class="header-page">
    <button class="button-card" routerLink="/stats-user-page">Retour</button>
  </div>
  <h1 class="page-title">Instances du quiz "{{quiz.name}}"</h1>
  <h2 class="stat-quiz">Le quiz a été joué {{quizInstances.length}} fois !</h2>
  <div class="instanceList">
    <ng-container *ngFor="let instance of quizInstances">
      <app-instance [quizInstance]="instance" (instanceSelected)="selectedInstance($event)"></app-instance>
    </ng-container>
  </div>
</div>
