<div class="card">
  <h2>Créer une nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">

    <div class="question-section">
      <label for="label">
        Question <br>
        <input class="input-custom" type="text" id="label" [formControlName]="'label'" placeholder="Ajouter une question...">
      </label>
    </div>

    <div class="image-section">
      <label for="url">
        Lien de l'image<br>
        <p>Vous devez ajouter au moins une image.</p>
      </label>
      <button class="button-card" (click)="addImage()">Ajouter une image</button>

      <div class="images" formArrayName="images">
        <div *ngFor="let address of imageLinks.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <p>Image n°{{i+1}}</p>
            <table class="image-table">
              <tr>
                <td>Lien</td>
                <td><label for="url"><input class="input-custom-subquestion" type="text" id="url" [formControlName]="'url'"></label></td>
              </tr>
              <tr>
                <td>Description</td>
                <td><label for="description"><input class="input-custom-subquestion" type="text" id="description" [formControlName]="'description'"></label></td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>

    <div class="answer-section">
      <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <label>
              Réponse
              <input class="input-custom-subquestion" type="text" [formControlName]="'value'">
              <br>
              Correct
              <input type="checkbox" [formControlName]="'isCorrect'">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="question-section">
      <label for="familyLink">
        Lien de parenté :
        <input class="input-custom" type="text" id="familyLink" [formControlName]="'familyLink'" placeholder="Ajouter un lien de parenté">
      </label>
    </div>

    <button type="submit" id="submit-button" class="button-card" (click)="addQuestion()">Valider</button>
  </form>
</div>
