@import '../../../styles/card.scss';
@import '../../../styles/buttons.scss';
@import '../../../styles/variables.scss';

h2 {
  text-align: center;
}

.input-custom[type=text] {
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.input-custom-subquestion[type=text] {
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

form, .image-section, .answer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .button-card{
    margin: 0 auto;
  }
}

.question-section{
  margin-bottom: 15px;
}

.image-section {
  .button-card{
    margin-top: -10px;
    margin-bottom: 5px;
  }
}

.answer-section{
  margin: 15px auto;
}

table, tr, td {
  border: none;
}

.answer-form {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#submit-button {
  margin: 0 auto;
}

.add-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
