<div class="card">
  <h2>Créer une nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">

    <div class="question-section">
      <label for="label">
        Question <br>
        <input class="input-custom" type="text" id="label" [formControlName]="'label'">
      </label>
    </div>

    <div class="image-section">
      <label for="url">
        Lien de l'image<br>
        <p>Vous devez ajouter au moins une image.</p>
      </label>
      <button class="button-card" (click)="addImage()">Ajouter une image</button>

      <div class="images" formArrayName="images">
        <div *ngFor="let address of imageLinks.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <p>Image n°{{i+1}}</p>
            <label for="url">
              Lien :
              <input type="text" id="url" [formControlName]="'url'">
            </label>
            <br>
            <label for="description">
              Description :
              <input type="text" id="description" [formControlName]="'description'">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="answer-section">
      <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <label>
              Réponse
              <input type="text" [formControlName]="'value'">
              <br>
              Correct
              <input type="checkbox" [formControlName]="'isCorrect'">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="question-section">
      <label for="familyLink">
        Lien de parenté :
        <input type="text" id="familyLink" [formControlName]="'familyLink'">
      </label>
    </div>

    <button type="submit" id="submit-button" class="button-card" (click)="addQuestion()">Valider</button>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
