<p>play-quiz-page works!</p>
<div class="card">
    <p>{{quiz.questions[currentQuestion].label}}</p>
        <div class="answer" *ngFor="let answer of quiz.questions[currentQuestion].answers">
            <button class = "answer-button" (click)="onAnswer(answer.isCorrect)" [disabled]="answerSelected">
                    {{answer.value}}
            </button>
                <!-- <ng-container *ngIf="answer.isCorrect"><i class="far fa-check-square"></i></ng-container> <br> -->
        </div>
    <p>{{currentQuestion +1}}/{{quiz.questions.length}}</p>
</div>