@import '../../../styles/card.scss';

.image-question-size{
    width: 300px;
    height: auto;
}
button{
    background-color: $white;
    border: solid 1px $blue;
    color: $blue;
    font-weight: bold;
    padding: 0.5em 1em;
}


button:disabled{
    background-color: $white;
    border: solid 1px $blue;
    color: $blue;
    font-weight: bold;
    padding: 0.5em 1em;
}
