<ng-container *ngIf="quiz">
  <div *ngIf="!endOfQuiz || quiz.questions.length<0; then quiz_play; else quiz_end"></div>
  <ng-template #quiz_play>
    <div class="card question-card">
      <div class="quiz-question-layout">
        <img class="image-question-size" src="{{currentQuestion.images[currentQuestion.currentImage].url}}" alt="">
        <p class="family-link" *ngIf="currentQuestion.showFamilyLink"><br>(indice) Lien de parenté
          : {{currentQuestion.familyLink}}</p>
        <p class="description" *ngIf="isCurrentAnswerCorrect"><br>Description
          : {{currentQuestion.images[currentQuestion.currentImage].description}}</p>
        <h1 class="quiz-question-label">{{currentQuestion.label}}</h1>
      </div>
      <div class="grid-button-answers">
        <div *ngFor="let answer of currentQuestion.answers">
          <button id="{{answer.value}}" class="button-quiz button-quiz-answer"
                  (click)="onAnswer(answer.isCorrect, answer.value)" [disabled]="disabledButton">
            {{answer.value}}
          </button>
        </div>
      </div>
      <button *ngIf="answerSelected" class="button-quiz yellow-button next-button" (click)="changeQuestion()">Suivant
      </button>
    </div>
  </ng-template>

  <ng-template #quiz_end>
    <div class="end-of-quiz">
      <h1>Fin du quiz</h1>
      <p>Merci d'avoir joué !</p>
      <button class="button-card" [routerLink]="['/play-page']">Retour</button>
      <button class="button-card" (click)="reloadQuiz()">Rejouer</button>
    </div>
  </ng-template>

</ng-container>
