@import '../../../../../styles/quiz.scss';
@import '../../../../../styles/card.scss';

.image-question-size{
    max-width: 30vw;
    max-height: 40vh;
}

.button-quiz-answer{
    min-width: 6rem;
    margin: 0 1rem;
}

.grid-button-answers{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 3rem;
    align-items: center;
}

.question-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.stats-quiz-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    text-decoration: none;
}

.button-green{
    background-color: #16a637;
}
.button-green:disabled{
    background-color: #16a637;
}
.button-green:hover{
    background-color: #16a637;
}

.button-red{
    background-color: #997387;
}
.button-red:disabled{
    background-color: #997387;
}
.button-red:hover{
    background-color: #997387;
}