@import '../../../../src/styles/buttons.scss';
@import '../../../../src/styles/variables.scss';

.body-manage-page{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons-placement{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  margin: 1rem;
  width: auto;
  height: auto;
  text-align: center;
}
.manage-page-title{
  margin: 3rem;
  font-size: 3rem;
  color: $blue;
  font-weight: bold;
}
