@import '../../../../src/styles/buttons.scss';
@import '../../../../src/styles/variables.scss';
@import '../../../../src/styles/buttons.scss';
.body-manage-page{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.buttons-placement{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  margin: 1rem;
  width: auto;
  height: auto;
  text-align: center;
}
.manage-page-title{
  margin: 3rem;
  font-size: 3rem;
  color: $blue;
  font-weight: bold;
}

.button-margin{
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
}