<div class="card">
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom du Quiz *<br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="description">
      Description *<br>
      <textarea class="input-custom" type="text" id="description" rows="5" cols="36" [formControlName]="'description'"></textarea>
    </label>
    <br>
    <label for="category">
      Catégorie *<br>
      <select id="category" [formControlName]="'category'">
        <option value="Personnes" selected>Personnes</option>
        <option value="Lieux">Lieux</option>
        <option value="Évènements">Évènements</option>
      </select>
    </label>
    <br>
    <p><i>* : Champs obligatoires</i></p>

    <div class="align-button">
      <button type="cancel" class="button-card" [routerLink]="['/manage-page']">Annuler</button>
      <button type="submit" class="button-card" (click)="addQuiz()">Valider</button>
    </div>

  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
