<div class="card">
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom du Quiz *<br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="description">
      Description *<br>
      <textarea class="input-custom" type="text" id="description" rows="5" cols="36" [formControlName]="'description'"></textarea>
    </label>
    <br>
    <mat-form-field>
      <mat-label for="category">
        Catégorie *<br>
        <mat-select id="category" [formControlName]="'category'" [(value)]=selectedCategory>
          <mat-option *ngFor="let category of categoryList" [value]=category>
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-label>
    </mat-form-field>
    <br>
    <p><i>* : Champs obligatoires</i></p>
    <br>
    <div class="align-button">
      <button type="cancel" class="button-card" [routerLink]="['/manage-page']">Annuler</button>
      <button type="submit" class="button-card" (click)="addQuiz()" [routerLink]="['/manage-page']">Valider</button>
    </div>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
