@import '../../../styles/card.scss';
@import '../../../styles/align-buttons.scss';

.input-custom[type=text] {
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
}


#submit-button:disabled,
#submit-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.card{
  padding-top: 2rem;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field{
  width: 20rem;
}
