<div class="card">
  <form class="quiz-form" [formGroup]="quizForm" #formcontrol="ngForm">
    <div class="name">
      <label for="name">
        Nom du Quiz *<br>
        <input class="input-custom" type="text" id="name" [formControlName]="'name'" placeholder="Quiz pour Ginette" required>
      </label>
    </div>
    <div class="description">
      <label for="description">
        Description *<br>
        <textarea class="input-custom" type="text" id="description" rows="5" cols="36" [formControlName]="'description'" placeholder="Photos de vacances de 1995" required></textarea>
      </label>
    </div>
    <br>
    <mat-form-field appearance="fill">
      <mat-label for="category">
        Catégorie *<br>
        <mat-select id="category" [formControlName]="'category'" [(value)]=selectedCategory required>
          <mat-option *ngFor="let category of categoryList" [value]=category>
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-label>
    </mat-form-field>
    <br>
    <p><i>* : Champs obligatoires</i></p>
    <br>
    <div class="align-button">
      <button type="cancel" class="button-card" [routerLink]="['/manage-page']">Annuler</button>
      <button type="submit" class="button-card" id="submit-button" (click)="addQuiz()" [disabled]="!formcontrol.form.valid">Valider</button>
    </div>
  </form>
</div>
