<button class="navigation" [routerLink]="['/user-list']">Manage users</button>

<div *ngIf="userSelected != null">
  <h1>Informations de l'utilisateur</h1>

  <table>
    <tr>
      <td>Identifiant unique</td>
      <td>{{userSelected.id}}</td>
    </tr>
    <tr>
      <td>Prénom</td>
      <td>{{userSelected.firstName}}</td>
    </tr>
    <tr>
      <td>Nom de famille</td>
      <td>{{userSelected.lastName}}</td>
    </tr>
    <tr>
      <td>Stade</td>
      <td>{{userSelected.stade}}</td>
    </tr>
  </table>
</div>
