<div *ngIf="userSelected != null" class="account-page-layout">
  <div class="header-page">
    <button class="button-card" routerLink="{{previousUrl}}">Retour</button>
  </div>
  <h1 class="account-page-title">Page utilisateur</h1>

  <table>
    <tr>
      <td>Identifiant unique</td>
      <td>{{userSelected.id}}</td>
      <td *ngIf="userSelected.isAdmin == true"></td>
    </tr>
    <tr>
      <td>Prénom</td>
      <td id="first_name">{{userSelected.firstName}}</td>
      <td *ngIf="userSelected.isAdmin == true">
        <button id="first_name_button" class="modify-button button-card" (click)="modifyName('first_name')">Modifier</button>
      </td>
    </tr>
    <tr>
      <td>Nom de famille</td>
      <td id="last_name">{{userSelected.lastName}}</td>
      <td *ngIf="userSelected.isAdmin == true">
        <button id="last_name_button" class="modify-button button-card" (click)="modifyName('last_name')">Modifier</button>
      </td>
    </tr>
    <tr>
      <td>Stade</td>
      <td>{{userSelected.stade}}</td>
      <td *ngIf="userSelected.isAdmin == true">
        <button class="modify-button button-card" (click)="downStade()">-</button>
        <button class="modify-button button-card" (click)="upStade()">+</button>
      </td>
    </tr>
  </table>
  <button *ngIf="userSelected.isAdmin == true" class="modify-button button-card" [routerLink]="['/user-list']">Gérer les
    utilisateurs
  </button>

  <button class="modify-button button-card" [routerLink]="['/login-page']" (click)="logoutAccount()">
    Se déconnecter
  </button>
</div>
