@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

.header {
  display: flex;
  justify-content: space-between;
  background: $darkblue;
  font-size: 0.8rem;

  padding: 1em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  margin-bottom: 2rem;
}

.navigation {
  padding-left: 0.5em;
  color: white;
  text-decoration: none;
}

.useful-links>a{
  margin: .5rem;
  text-decoration: none;
}

#Titre{
  font-size: 1rem;
  align-self: center;
}
