<div class="header">
  Groupe B
  <div class="useful-links">
    <a class="navigation" [routerLink]="['/main-page']">Accueil</a>
    <a class="navigation" [routerLink]="['/guidelines-page']">Notice</a>
    <a class="navigation" [routerLink]="['/about-page']">A Propos</a>
  </div>
  <div>
    <a *ngIf="userSelected != null" class="navigation" [routerLink]="['/account-page']">
      {{username}}
    </a>
    <a *ngIf="userSelected == null" class="navigation" [routerLink]="['/login-page']">
      Se connecter
    </a>
    <a *ngIf="userSelected != null" class="navigation" [routerLink]="['/login-page']">
      Changer d'utilisateur
    </a>
  </div>
  <!-- Famille de ginette à remplacer par variable user -->
</div>
