<div class="header">
  <a class="navigation header-title" [routerLink]="['/main-page']">
    Groupe B
  </a>
  <div class="connection-parameters">
    <a class="navigation" [routerLink]="['/guidelines-page']">Notice</a>
    <a class="navigation" [routerLink]="['/about-page']">A Propos |</a>
    <a *ngIf="userSelected != null" class="navigation" [routerLink]="['/account-page']">
      {{username}}
    </a>
    <div *ngIf="userSelected == null">
      <a class="connect-navigation navigation " [routerLink]="['/login-page']"> Se connecter</a>
      <a class="connect-navigation navigation">/</a>
      <a class="connect-navigation navigation" [routerLink]="['/sign-in-page']">S'inscrire</a>
    </div>
  </div>
  <!-- Famille de ginette à remplacer par variable user -->
</div>
