<h1>Comment jouer !</h1>
<h2>Comment jouer en stade 4</h2>
<p>Une ou plusieurs personnes est affichée dans chaque image, la personne entourée en rouge doit être répondue</p>
<ul>
  <li>Une image vous est proposée avec 4 réponses</li>
  <li>L'objectif est de cliquer sur le nom de la personne qui est entouré en rouge</li>
  <li>Une seule réponse est possible par question</li>
</ul>

<h2>Comment jouer en stade 5</h2>
<p>Une seule personne est affichée dans chaque image</p>
<ul>
  <li>Une image vous est proposée avec 4 réponses</li>
  <li>L'objectif est de cliquer sur le nom de la personne</li>
  <li>Une seule réponse est possible par question</li>
</ul>

<h2>Comment jouer en stade 6</h2>
<p>Deux images sont proposées, il faut cliquer sur l'image qui contient le membre de la famille</p>
<ul>
  <li>Deux images vous sont proposées</li>
  <li>L'objectif est de cliquer sur le nom de la personne ou du lieu</li>
  <li>Une seule réponse est possible par question</li>
</ul>
