
@import '../../../../src/styles/page.scss';
@import '../../../../src/styles/buttons.scss';
@import '../../../../src/styles/variables.scss';


.body-stats-categories-page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.page-title {
  vertical-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-display{
  display: flex;
  justify-content: flex-start;
}