


@import './styles/variables.scss';
@import "./styles/card.scss";


/* You can add global styles to this file, and also import other style files */
/*html {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}*/

body {
  margin: 0;
  background-color: $app-background-color;
}

table {
  border-collapse: collapse;
}

td,
th {
    border: solid #000000;
}

a{
  font-size: 1.7em;
}

button{
  font-size: large;
}

h1{
  font-size: 2em;
  color: $darkblue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



