<div class="body-manage-page">
  <h1>Informations sur la création d'un quiz</h1>
  <p>A ce niveau vous pouvez mettre jusqu'à 3 images pour chaque question, elles seront ajoutées sucessivement à chaque erreur. </p>
  <p>Au bout de 3 erreurs le quiz passe à la question suivante.</p>
  <p>Pour ajouter des questions au quiz, il faudra aller dans la rubrique "modifier les quiz" une fois le quiz crée.</p>

  <div class="align-button">
    <button class="button-card" routerLink="/manage-page">Retour</button>
    <button class="button-card" routerLink="/create-quiz-page">Continuer</button>
  </div>

</div>
