<button mat-raised-button class="card quiz-card">
  <h2>
    {{quiz.name}}
  </h2>
  <p *ngIf="quiz.category">Catégorie : {{quiz.category.name}}</p>
  <p>{{quiz.description}}</p>
  <div class="flex-buttons-quiz">
    <button mat-raised-button color="primary" *ngIf="displaySelectButton"  (click)="selectQuiz()">Sélectionner</button>
    <button mat-raised-button color="accent" *ngIf="displayDeleteButton"  (click)="delete()">Supprimer</button>
    <button mat-raised-button color="primary" *ngIf="displayEditButton"  routerLink="/edit-quiz/{{quiz.id}}"
            (click)="changeSelectedQuiz(quiz)">Modifier
    </button>
  </div>
</button>
