<div class="card quiz-card">
    <h2>
        {{quiz.name}}
    </h2>
    <p *ngIf="quiz.category">Catégorie : {{quiz.category}}</p>
    <p>{{quiz.description}}</p>
    <div class="flex-buttons-quiz">
        <button class="button-card" (click)="selectQuiz()">Select</button>
        <button *ngIf="displayDeleteButton" class="button-card" (click)="delete()">Delete</button>
        <button *ngIf="displayEditButton" class="button-card edit" routerLink="/edit-quiz/{{quiz.id}}">Edit</button>
    </div>
</div>
