<div class="card">
    <h2>Create a new user</h2>
    <form class="user-form" [formGroup]="userForm">
      <label for="firstName">
        First name <br>
        <input class="input-custom" type="text" id="firstName" [formControlName]="'firstName'">
      </label>
      <br>
      <label for="lastName">
        Last name <br>
        <input class="input-custom" type="text" id="lastName" [formControlName]="'lastName'">
      </label>
      <br>
      <button type="submit" class="button-card" (click)="addUser()">Create</button>
    </form>
  </div>